<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unregistered IDs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unregistered_ids.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Unregistered IDs</h1>
            <a href="{{ url_for('admin_dashboard') }}" class="back-button">Back to Dashboard</a>
        </header>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id in unregistered_ids %}
                    <tr>
                        <td>{{ id.unique_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
